<?xml version="1.0"?>
<robot name="bowl_6p25in">
  <link name="bowl_6p25in">
    <inertial>
      <mass value="0.140"/>
      <!-- Inertia values are approximate, assuming constant density
           cylinder. -->
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.0017"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual/bowl_6p25in.obj" scale="0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/bowl_6p25in.obj" scale="0.001"/>
      </geometry>
    </collision>
  </link>
</robot>
