<?xml version="1.0"?>
<robot name="dish_rack_grabcad">
  <link name="dish_rack_grabcad">
    <inertial>
      <mass value="2"/>
      <origin rpy="90 0 0" xyz="0 0 0.055"/>
      <!-- Relatively bad guesses -->
      <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.05" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0.0"/>
      <geometry>
        <!-- Mesh is 600 units long and saved in mm units
             True length is 500mm-->
        <mesh filename="meshes/visual/dish_rack_grabcad.obj" scale="0.00083"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0.00"/>
      <geometry>
        <mesh filename="meshes/collision/dish_rack_grabcad.obj" scale="0.00083"/>
      </geometry>
    </collision>
  </link>
</robot>