<?xml version="1.0"?>
<robot name="dish_rack_simple">
  <link name="dish_rack_simple">
    <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0 0. 0.01"/>
      <!-- Relatively bad guesses -->
      <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.05" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="meshes/visual/dish_rack_simple.obj" scale="0.001"/>
      </geometry>
    </visual>
    <collision concave="yes">
      <origin rpy="1.57 0 0" xyz="0 0 0.00"/>
      <geometry>
        <mesh filename="meshes/collision/dish_rack_simple.obj" scale="0.001"/>
      </geometry>
    </collision>
  </link>
</robot>