<?xml version="1.0"?>
<robot name="plate_8p5in">
  <link name="plate_8p5in">
    <inertial>
      <mass value="0.180"/>
      <!-- Inertia values are approximate, assuming constant density
           cylinder. -->
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.004"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual/plate_8p5in.obj" scale="0.001"/>
      </geometry>
    </visual>
    <collision concave="yes">
      <geometry>
        <mesh filename="meshes/collision/plate_8p5in.obj" scale="0.001"/>
      </geometry>
    </collision>
  </link>
</robot>
