<?xml version="1.0"?>
<robot
  name="cube">
  <link name="cube_1">
    <visual>
      <geometry>
        <!-- <mesh filename="cube.obj"/> -->
        <box size="1.00 1.00 1.00"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <!-- <mesh filename="cube.obj"/> -->
        <box size="1.00 1.00 1.00"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>
</robot>
