<robot name="root">
  <link name="link_plate_11in_decomp_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.51E-02"/>
      <inertia ixx="2.63E-05" ixy="6.14E-06" ixz="-3.72E-07" iyy="2.47E-04" iyz="-1.77E-08" izz="2.17E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_plate_11in_decomp_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.12E-02"/>
      <inertia ixx="1.90E-04" ixy="1.02E-07" ixz="-1.10E-06" iyy="3.28E-04" iyz="2.42E-06" izz="1.85E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_0"/>
    <child link="link_plate_11in_decomp_convex_piece_1"/>
  </joint>
  <link name="link_plate_11in_decomp_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.40E-02"/>
      <inertia ixx="2.65E-04" ixy="1.69E-05" ixz="1.59E-04" iyy="4.51E-04" iyz="1.88E-05" izz="1.81E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_1"/>
    <child link="link_plate_11in_decomp_convex_piece_2"/>
  </joint>
  <link name="link_plate_11in_decomp_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.26E-02"/>
      <inertia ixx="1.76E-04" ixy="-9.01E-06" ixz="1.27E-04" iyy="3.84E-04" iyz="-8.06E-06" izz="2.02E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_2"/>
    <child link="link_plate_11in_decomp_convex_piece_3"/>
  </joint>
  <link name="link_plate_11in_decomp_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.41E-02"/>
      <inertia ixx="2.94E-04" ixy="1.43E-05" ixz="-1.57E-04" iyy="4.67E-04" iyz="-1.88E-05" izz="1.68E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_3"/>
    <child link="link_plate_11in_decomp_convex_piece_4"/>
  </joint>
  <link name="link_plate_11in_decomp_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.63E-02"/>
      <inertia ixx="2.09E-04" ixy="-9.84E-06" ixz="-1.39E-04" iyy="4.29E-04" iyz="9.51E-06" izz="2.14E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_4"/>
    <child link="link_plate_11in_decomp_convex_piece_5"/>
  </joint>
  <link name="link_plate_11in_decomp_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.45E-03"/>
      <inertia ixx="3.33E-05" ixy="-5.77E-06" ixz="-2.17E-05" iyy="6.48E-05" iyz="5.88E-06" izz="3.21E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_5"/>
    <child link="link_plate_11in_decomp_convex_piece_6"/>
  </joint>
  <link name="link_plate_11in_decomp_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.27E-03"/>
      <inertia ixx="3.26E-05" ixy="-5.70E-06" ixz="2.15E-05" iyy="6.40E-05" iyz="-5.79E-06" izz="3.19E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_plate_11in_decomp_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_plate_11in_decomp_convex_piece_6"/>
    <child link="link_plate_11in_decomp_convex_piece_7"/>
  </joint>
</robot>
