*~
*pyc
/build
/src/CorlDev/src/ply
/src/CorlDev/automation/scp_config.yaml
/src/calibration_data
/sandbox/fusion/*
/sandbox
/calibration_data
*snopt.out

# The package in development
/src/catkin_projects/arm_runner/
/src/catkin_projects/pyrunner_ros/
/src/catkin_projects/robot_msgs/