[submodule "director"]
	path = director
	url = https://github.com/RobotLocomotion/director.git
[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "signal-scope"]
	path = signal-scope
	url = https://github.com/openhumanoids/signal-scope.git
[submodule "src/ElasticFusion"]
	path = src/ElasticFusion
	url = git@github.com:RobotLocomotion/ElasticFusion.git
	branch = master
[submodule "models/rlg_misc_models"]
	path = models/rlg_misc_models
	url = https://github.com/gizatt/rlg_misc_models
[submodule "models/dish_models"]
	path = models/dish_models
	url = https://github.com/gizatt/dish_models
[submodule "src/handical"]
	path = src/handical
	url = git@github.com:RobotLocomotion/handical.git
[submodule "src/tsdf-fusion"]
	path = src/tsdf-fusion
	url = git@github.com:RobotLocomotion/tsdf-fusion.git
[submodule "src/catkin_projects/iiwa_driver"]
	path = src/catkin_projects/iiwa_driver
	url = git@github.com:RobotLocomotion/iiwa_driver.git
[submodule "src/catkin_projects/wsg50-ros-pkg"]
	path = src/catkin_projects/wsg50-ros-pkg
	url = git@github.com:RobotLocomotion/wsg50-ros-pkg
[submodule "src/catkin_projects/fusion_server"]
	path = src/catkin_projects/fusion_server
	url = git@github.com:DexaiRobotics/fusion_server.git
