[submodule "director"]
	path = director
	url = https://github.com/RobotLocomotion/director.git
[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "signal-scope"]
	path = signal-scope
	url = https://github.com/openhumanoids/signal-scope.git
[submodule "src/ObjectDetection/data"]
	path = src/ObjectDetection/data
	url = https://github.com/gizatt/object_detection_test_data
[submodule "src/LabelFusion"]
	path = src/LabelFusion
	url = https://github.com/RobotLocomotion/LabelFusion.git
[submodule "src/catkin_projects/spartan_grasp_msgs"]
	path = src/catkin_projects/spartan_grasp_msgs
	url = git@github.com:manuelli/spartan_grasp_msgs.git
[submodule "src/catkin_projects/drake-schunk-driver"]
	path = src/catkin_projects/drake-schunk-driver
	url = git@github.com:RobotLocomotion/drake-schunk-driver.git
[submodule "modules/spartan/mcubeUROP"]
	path = modules/spartan/mcubeUROP
	url = git@github.com:manuelli/mcubeUROP.git

