[submodule "director"]
	path = director
	url = https://github.com/manuelli/director.git
[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "signal-scope"]
	path = signal-scope
	url = https://github.com/openhumanoids/signal-scope.git
[submodule "src/ObjectDetection/data"]
	path = src/ObjectDetection/data
	url = https://github.com/gizatt/object_detection_test_data
[submodule "src/LabelFusion"]
	path = src/LabelFusion
	url = https://github.com/RobotLocomotion/LabelFusion.git
