<?xml version="1.0"?>
<launch>
	
	<arg name="pkg_name" default="camera_config" />
	<arg name="camera_serial_number" default="1112170110" />
	<arg name="camera_name" value="camera_$(arg camera_serial_number)" />
	<arg name="calibration_folder" default="master" />
	<arg name="calibration_folder_full_path" value="$(eval find(arg('pkg_name')) +'/data/' + str(arg('camera_serial_number')) +'/' + arg('calibration_folder') )" />
	<arg name="camera_info_filename" default="$(arg calibration_folder_full_path)/camera_info.yaml" />
	

	<node name="camera_info_publisher_$(arg camera_serial_number)" pkg="$(arg pkg_name)" type="camera_transform_publisher_node.py" output="screen">
		<param name="camera_info_filename" type="string" value="$(arg camera_info_filename)"/>
		<param name="camera_serial_number" type="string" value="$(arg camera_serial_number)"/>
		<param name="camera_name" type="string" value="$(arg camera_name)" />
	</node>
</launch>