<?xml version="1.0"?>
<launch>
	
	<arg name="pkg_name" default="camera_config" />
	<arg name="camera_serial_number" default="1112170110" />
	<arg name="camera_info_filename" default="$(eval find(arg('pkg_name')) +'/data/' + str(arg('camera_serial_number')) +'/camera_info.yaml' )" />
	

	<node name="camera_info_publisher_$(arg camera_serial_number)" pkg="$(arg pkg_name)" type="camera_info_publisher_node.py" output="screen">
		<param name="camera_info_filename" type="string" value="$(arg camera_info_filename)"/>
		<param name="camera_serial_number" type="string" value="$(arg camera_serial_number)"/>
	</node>
</launch>