<?xml version="1.0"?>
<launch>

	<arg name="pkg_name" default="robot_control" />
	<arg name="config_filename" value="$(eval find(arg('pkg_name')) +'/config/robot_movement_service.yaml')" />

	<node name="robot_movement_service" pkg="$(arg pkg_name)" type="robot_movement_service_node.py" output="screen">
		<param name="config_filename" type="string" value="$(arg config_filename)"/>
	</node>
</launch>