<robot name="root">
  <link name="link_bowl_6p25in_decomp_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.82E-02"/>
      <inertia ixx="4.46E-05" ixy="-2.72E-07" ixz="-4.01E-08" iyy="5.36E-05" iyz="2.66E-05" izz="4.52E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_bowl_6p25in_decomp_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.06E-02"/>
      <inertia ixx="2.54E-05" ixy="7.83E-06" ixz="-2.60E-05" iyy="5.73E-05" iyz="-8.03E-06" izz="2.43E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_0"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_1"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.40E-02"/>
      <inertia ixx="2.35E-05" ixy="1.42E-05" ixz="-9.40E-06" iyy="2.97E-05" iyz="-1.38E-05" izz="2.41E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_1"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_2"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.43E-02"/>
      <inertia ixx="2.45E-05" ixy="-1.42E-05" ixz="9.65E-06" iyy="3.03E-05" iyz="-1.44E-05" izz="2.42E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_2"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_3"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.06E-02"/>
      <inertia ixx="2.56E-05" ixy="7.92E-06" ixz="2.64E-05" iyy="5.77E-05" iyz="8.10E-06" izz="2.44E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_3"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_4"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.01E-02"/>
      <inertia ixx="4.75E-05" ixy="1.25E-07" ixz="4.90E-07" iyy="5.30E-05" iyz="1.17E-05" izz="-7.65E-07"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_4"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_5"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.12E-02"/>
      <inertia ixx="2.95E-05" ixy="-7.97E-06" ixz="2.73E-05" iyy="6.06E-05" iyz="-9.02E-06" izz="2.32E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_5"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_6"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.12E-02"/>
      <inertia ixx="-4.55E-07" ixy="1.25E-05" ixz="-3.33E-07" iyy="5.79E-05" iyz="-1.23E-07" izz="5.11E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_6"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_7"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_8">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.06E-03"/>
      <inertia ixx="3.91E-08" ixy="-5.86E-06" ixz="5.57E-06" iyy="2.77E-05" iyz="-1.32E-06" izz="2.45E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_8_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_7"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_8"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_9">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.07E-02"/>
      <inertia ixx="2.73E-05" ixy="-7.79E-06" ixz="-2.62E-05" iyy="5.78E-05" iyz="8.50E-06" izz="2.30E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_9_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_8"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_9"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_10">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.32E-03"/>
      <inertia ixx="4.42E-05" ixy="4.01E-07" ixz="-1.63E-06" iyy="4.92E-05" iyz="-1.07E-05" izz="-9.24E-07"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_10_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_9"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_10"/>
  </joint>
  <link name="link_bowl_6p25in_decomp_convex_piece_11">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.73E-03"/>
      <inertia ixx="1.51E-07" ixy="-5.54E-06" ixz="-5.41E-06" iyy="2.58E-05" iyz="1.32E-06" izz="2.27E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 5.00E-01 9.00E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bowl_6p25in_decomp_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bowl_6p25in_decomp_convex_piece_11_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bowl_6p25in_decomp_convex_piece_10"/>
    <child link="link_bowl_6p25in_decomp_convex_piece_11"/>
  </joint>
</robot>
