<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="square_peg">

<xacro:property name="x_dim" value="0.045" />
<xacro:property name="y_dim" value="0.045" />
<xacro:property name="z_dim" value="0.06" />

<!-- macro for making default inertial mass-->
<xacro:macro name="default_inertial" params="mass">
    <inertial>
            <mass value="${mass}" />
            <inertia ixx="${1.0*mass}" ixy="0.0" ixz="0.0"
                 iyy="${1.0*mass}" iyz="0.0"
                 izz="${1.0*mass}" />
    </inertial>
</xacro:macro>

<!-- macro for making default box-->
<xacro:macro name="rectangle" params="x_dim y_dim z_dim">
    <visual>
        <geometry>
            <box size="${x_dim} ${y_dim} ${z_dim}"/>
        </geometry>
        <material name="blue"/>
    </visual>
    <collision>
        <geometry>
            <box size="${x_dim} ${y_dim} ${z_dim}"/>
        </geometry>
    </collision>
    <xacro:default_inertial mass="0.01"/>
    <!-- A bunch of stuff cut -->
</xacro:macro>

    <link name="base_link">
        <xacro:rectangle x_dim="${x_dim}" y_dim="${y_dim}" z_dim="${z_dim}"/>
    </link>

</robot>